:root {
  --primary: #e0ff4b;
  --red: red;
  --heading-color: #cba6f7;
  --text-color: #fbf2f2;
  --highlight-color: #951e71;
  --bg-color: #1a1b26;
  --black: #212529;
  --white: #fdfdfd;
  --dark-grey: #343334;
  --subtle-text: #c0c0c0;
  --subtle-links: #c0c0c0;
  --light-grey: #951e71;
  --lighter-gray: #f6f6f6;
  --font-base: 'Andada Pro', sans-serif;
  --font-monospace: menlo, monaco, lucida console, liberation mono, dejavu sans mono, bitstream vera sans mono, courier new, monospace, serif;
  --font-headings: 'Andada Pro', sans-serif;
  --border-radius: 0.5rem;
}
